body {
    background-color: #121314;
}
h1 {
    display: block;
    font-size: 40px;
    font-weight: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:#34373d;
    color:blanchedalmond;
    margin: 10px auto;
    text-align: center;

}
.link {
    display: block;
    text-align: left;
    font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:#34373d;
    color:blanchedalmond;
    margin: 50px auto;
    text-align: center;
}
.myImage {
    display:block;
    margin: 50px auto;
    

}

h2{
    display: block;
    text-align: center;
    background-color:#34373d ;
    color:blanchedalmond;
    font-size: 30px;
}

p{
    display: block;
    text-align: left;
    background-color:#34373d ;
    color:blanchedalmond;
    font-size: 16px;
}
ul,ol{
    display: block;
    text-align: left;
    background-color:#34373d ;
    color:blanchedalmond;
    font-size: 16px;
    margin:15px;
}
li {
    margin: 10px;
    padding: 15px;
}